name: CI-CD CodeDeploy

on:
  push:
    branches: ["main"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Zip artifact
        run: |
          zip -r  zip -r artifact.zip . -x '.git/*' '.github/*' '*.md'

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Upload to S3
        run: |
          AWS_S3_KEY="artifacts/${{ github.sha }}.zip"
          aws s3 cp artifact.zip s3://${{ secrets.S3_BUCKET }}/${AWS_S3_KEY}
          echo "AWS_S3_KEY=${AWS_S3_KEY}" >> $GITHUB_ENV

      - name: Deploy via CodeDeploy
        run: |
          aws deploy create-deployment \
            --application-name "${{ secrets.CODEDEPLOY_APP }}" \
            --deployment-group-name "${{ secrets.CODEDEPLOY_GROUP }}" \
            --s3-location bucket=${{ secrets.S3_BUCKET }},bundleType=zip,key=${AWS_S3_KEY} \
            --description "Deployment from GitHub Actions - $GITHUB_SHA"
